@import 'index.css';

.navbar {
    background-color: #012622;
    overflow: hidden;
    position:sticky;
    top:0;
    height: var(--navbarHeight);
}

.navbar a {
    float: right; /* Align to the right */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #FFA500; /* Darker orange */
}

.page-navigation{
    background-color:#003B36;
    position:sticky;
    bottom:0;
}